body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:377px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:408px;
  width:629px;
  height:377px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:609px;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1229px;
  height:378px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:1229px;
  height:378px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
